<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.appspot.smartshop" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".HomeActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.user.UserActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.user.LoginActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".test.TestActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.product.PostProductActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.product.PostProductActivityBasicAttribute"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.product.PostProductActivityUserDefine"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.product.SearchProductActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.product.SearchByCategory"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.page.EditPageActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.page.ViewPageActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.comment.ViewCommentsActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.product.ListProductAfterSearch"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.comment.ViewCommentsActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.product.ViewSingleProduct"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.product.ViewBasicAttributeOfProduct"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.product.ViewAdvanceAttributeOfProduct"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".test.UseThisExpandableListForImplementSearchByCategory"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<uses-sdk android:minSdkVersion="7" />
		<uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	</application>
</manifest> 